<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= image_path('image1.jpg') %>" class="d-block w-100" alt="First slide">
      <%# <div class="carousel-caption d-none d-md-block"> %>
      <%#  <h5>First Slide</h5> %>
      <%#  <p>Some representative placeholder content for the first slide.</p> %>
      <%# </div> %>
    </div>
    <div class="carousel-item">
      <img src="<%= image_path('image2.jpg') %>" class="d-block w-100" alt="Second slide">
      <%# <div class="carousel-caption d-none d-md-block"> %>
      <%#  <h5>Second Slide</h5> %>
      <%#  <p>Some representative placeholder content for the second slide.</p> %>
      <%# </div> %>
    </div>
    <div class="carousel-item">
      <img src="<%= image_path('image3.jpg') %>" class="d-block w-100" alt="Third slide">
      <%# <div class="carousel-caption d-none d-md-block"> %>
      <%#  <h5>Third Slide</h5> %>
      <%#  <p>Some representative placeholder content for the third slide.</p> %>
      <%# </div> %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container py-4 works">
  <% if user_signed_in? && @liked_podcast.present? %>
    <h2 class=" index-podcast text-center">お気に入りポッドキャスト</h2>
    <%= render 'podcasts', podcasts: @liked_podcast %>
  <% end %>
</div>

<div class="container py-4 works">
  <h2 class="index-podcast text-center">人気上昇中のポッドキャスト</h2>
  <%= render 'podcasts', podcasts: @not_liked_podcast %>
</div>