<% if user_signed_in? %>
  <h1>お気に入りポッドキャスト</h1>
  <% @liked_podcast.each do |podcast| %>
    <h2><%= podcast.name %></h2>
    <p><%= podcast.description.truncate(100) %></p>
    <%= link_to image_tag(podcast.image),podcast_path(podcast.id) %>
    <%= render partial: "likes/like", locals: { podcast: podcast.original_podcast } %>
  <% end %>    
<% end %>

<h1>人気上昇中のポッドキャスト</h1>
<% @not_liked_podcast.each do |podcast| %>
  <h2><%= podcast.name %></h2>
  <p><%= podcast.description.truncate(100) %></p>
  <%= link_to image_tag(podcast.image),podcast_path(podcast.id) %>
  <% if user_signed_in? %>
    <%= render partial: "likes/like", locals: { podcast: podcast.original_podcast } %>
  <% end %>
<% end %>

