<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-16">
      <div class="profile-container d-flex align-items-center">
        <div class="profile-icon me-4">
          <% if @user.icon.attached? %>
            <%= image_tag @user.icon.variant(resize_to_fill: [80, 80]), class: "user-icon" %>
          <% else %>
            <%= image_tag 'default_icon.png', class: "user-icon" %>
          <% end %>
        </div>
        <div class="profile-info d-flex flex-column justify-content-center">
          <h2 class="profile-nickname mb-2"><%= @user.nickname %></h2>
          <p class="profile-text mb-2"><%= @user.profile %></p>
          <div id="follow-button-<%= @user.id %>">
            <%= render partial: "relationships/relationship", locals: { user: @user } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-4 works">
  <h4 class=" index-podcast text-center"><%= @user.nickname %>さんのお気に入りポッドキャスト</h4>
  <%= render 'podcasts', podcasts: @liked_podcast_data %>
</div>