<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="mt-3 mb-5 <%= @user.errors.include?(:icon) ? "validation_errors" : "" %>">
    <%= f.label :icon, '画像(5MBまで)', class: "form-label fw-bold" %><br>
    <%= f.file_field :icon, onchange: "iconImage(this);", accept: "image/jpeg,image/gif,image/png", class: "mb-3" %>
    <%= render 'layouts/error_messages',class: "invalid-feedback", model: @user, key: :icon %>
    <div id="icon" >
      <img id="icon_preview" class="mb-3" width="100">
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
